.custom-field-input {
  height: 40px;
  &.basic {
    border: none;
    outline: none;

    &:focus,
    &:active,
    &:hover {
      border: none;
      outline: none;
    }
  }
  &.type-text {
    text-align: left;
  }
  &.type-number {
    text-align: right;
  }
  &.type-checkbox {
    width: unset !important;
    margin: 0 !important;
    vertical-align: middle;
    cursor: pointer;
  }
}
