.topic-list-item {
  margin: 0 8px 10px 8px;
  display: flex;
  align-items: center;

  .topic-expand-icon {
    margin-left: 3px;
    margin-right: 8px;
    font-size: 11px;
    cursor: pointer;
  }

  .topic-icon {
    color: #9b51e0;
    margin-right: 7px;
  }
}

.topic-tip-list {
  padding-left: 26px;
}

.no-tips-text {
  margin-top: -2px;
  margin-bottom: 13px;
}
