@import './subtopic_form_page';

/* Main form height setup for correct bottom navbar position */
#main-form-tab-content {
  height: 100%;
  letter-spacing: 0.01em;
  .tab-pane {
    height: 100%;
    form.main-form {
      height: 100%;
      .carousel {
        height: 100%;
        .carousel-inner {
          height: 100%;
          margin-top: -92px;
          padding-top: 92px;
          position: fixed;
          overflow-x: hidden;
          overflow-y: auto;
          top: 92px;
          .panel-body {
            position: absolute;
            width: 100%;
            overflow-y: auto;
            height: 100%;
            // padding-bottom: 70px;
          }
          .query-info {
            color: $gray-light;

            strong {
              color: $text-color;
            }

            a.query-clear-link {
              font-size: 11px;
            }
          }

          .item {
            min-height: 100%;
          }

          .topic-title-input-group {
            position: relative;
            width: 350px;
            margin: 0 auto 0 auto;

            #topic_title {
              position: absolute;
              top: 180px;
              left: 0;
              right: 0;
              margin: 0 auto 0 50px;
              width: 242px;
              font-size: 24px;
              font-weight: 100;
              text-align: center;
            }
          }

          .main-form-description {
            height: 150px;
            border: 1px solid #eee;
            padding: 10px;
          }

          #topic_description {
            height: 150px;
            width: 95%;
            border: 1px solid #eee;
            margin: 20px;
            padding: 10px;
          }
        }
      }
    }

    form.form-horizontal {
      .carousel {
        .carousel-inner {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  .navbar-fixed-bottom {
    border-top: 1px solid $gray-lighter;
    padding: 15px;
    background-color: white;
    .btn {
      padding: 10px 12px;
      text-decoration: none;
      color: $brand-primary;
    }
    .btn {
      color: $brand-primary;
    }
    .btn-save {
      font-weight: 400;
      border-radius: 1px;
      box-shadow: 0px 0px 0px 1.5px #5fafd9;
      border: none;
      background: white;
    }
    .btn-save:hover {
      background: lighten($brand-primary, 45%);
    }
  }
}

#main-form-tab-content {
  &.tab-content.card-form-content {
    padding-top: 0;
    .carousel-inner {
      padding-top: 43px;
    }
    .card-form-close-actions {
      position: fixed;
      left: -110px;
      width: 110px;
      .material-icons {
        color: white;
        font-size: 28px;
      }
      .btn-minimize {
        padding: 15px 10px;
        margin-right: 8px;
        margin-bottom: 2px;
        border-bottom: 2px solid white;
      }
      .btn-external-link {
        transform: rotate(270deg);
        padding-right: 15px;
        .material-icons {
          font-size: 23px;
        }
      }
      .btn-close {
        position: relative;
        top: 10px;
        padding-right: 5px;
        right: 2px;
      }
      a:hover {
        opacity: 0.7;
      }
    }
  }
}

.carousel {
  .main-form-content-nav {
    position: fixed;
    padding-top: 5px;
    width: 100%;
    z-index: 10;
    li {
      a {
        background: none;
        color: $gray-75;
        font-size: 14px;
      }
    }
    li.active {
      a {
        background: none;
        color: $color-1;
      }
    }
  }
}

.plan-tab-content {
  display: flex;
  flex-wrap: wrap;
  // padding: 0px 10px 0px 10px;

  &__due-date {
    margin-top: 0px !important;
  }

  .plan-tab-content__date {
    .SingleDatePicker_picker {
      z-index: 20;
    }
  }

  .plan-tab-content__input {
    width: 60px;
    height: 36px;
    margin-right: 10px;
    padding: 0 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
    text-align: center;
  }

  .plan-tab-content__input-margin-left {
    margin-left: 2.5%;
  }

  .plan-tab-content__input-label {
    color: #555;
  }

  .plan-tab-content__field {
    width: 100%;
    &:not(:first-child) {
      margin-top: 20px;
    }

    &.plan-tab-content__field--half {
      width: 50%;
    }
  }

  .plan-tab-content__label {
    @extend .mb5;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #999;
  }

  .plan-tab-content__priority {
    height: 36px;
  }
}

.log-time-field {
  color: #999;

  .log-time-field__actions {
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    .log-time-field__actions-group {
      margin-right: 20px;

      &:first-child {
        margin-left: -15px;
      }
    }

    .log-time-field__total-log-time {
      margin-left: -15px;
    }
  }

  .planning-grid {
    .planning-grid__header {
      .planning-grid__row {
        .planning-grid__cell {
          min-width: unset;
          flex-grow: 0;
          flex-basis: auto;
          width: 70px;

          &.calendar-view__cell--header {
            min-width: unset !important;
          }

          &.planning-grid__cell--user {
            min-width: 50px;
            width: 50px;
          }

          &.planning-grid__cell--compact {
            justify-content: center;
          }
        }
      }
    }

    .planning-grid__cards {
      height: 400px;

      .hour-column {
        .hour-column-cell {
          width: 50px;
        }
      }

      .day-column {
        flex-grow: 0;
        width: 70px;
        min-width: 70px;

        .day-column-cell {
          position: relative;
          box-sizing: border-box;
          width: 70px;

          &.day-column-cell--add {
            cursor: cell;
          }

          .planning-grid__cell-spinner {
            position: absolute;
            top: calc(50% - 7px);
            left: calc(50% - 7px);
          }

          .planning-grid__drop-zone {
            margin: 1px;
            padding: 0;
            border-radius: 0;
          }
        }

        .logtime-card {
          .content {
            margin: 0;
            border-radius: 0;
          }
        }
      }
    }
  }
}
