.my-notes-container {
  padding: 0 30px;
  display: flex;
  gap: 1rem;
  min-height: 85vh;
  .notes-list-container {
    background: #f1f1f1;
    width: 29rem;
    border-radius: 12px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    .notes-list-topbar {
      padding: 13.6px 1.5px 13.6px 9.2px;
      display: flex;
      gap: 1rem;
      .notes-list-topbar > a .material-icons {
        font-size: 32px;
        font-weight: normal;
      }
      .add-boards {
        position: relative;
        // display: flex;
        .dropdown-menu {
          display: block;
        }
        .material-icons {
          margin-bottom: 0.7px;
        }
      }
    }
    .notes-list-items-container {
      .notes-list {
        .disable-caret {
          a {
            pointer-events: none;
          }
          pointer-events: none !important;
          opacity: 0.3;
        }

        .board,
        .card {
          .add-button {
            opacity: 0;
            margin-left: auto;

            .material-icons {
              font-size: 18px;
              font-weight: 600;
              margin-top: 2px;
            }

            .add-card-or-subtopic {
              min-height: 25px;
            }
          }

          .add-button,
          .board-settings-dropdown {
            a:hover .material-icons {
              color: #f2ab13 !important;
            }
          }

          border-top: solid 1px #e8e8e8;
          padding: 11px 18px 9px 15px;
          color: #808080;
          display: flex;
        }

        .task-board-card-list {
          padding: 0 0 0 15px;
        }

        .board {
          .main-topic {
            padding: 0 5px 0 0;
            display: flex;
            width: 100%;
            max-width: 250px;
            p {
              margin: 2.5px 0 2.5px 8.5px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              hyphens: auto;
              word-break: break-all;

              & + span {
                max-width: 20px;
              }
            }

            .fa {
              font-size: 16px;
            }
          }

          .board-settings-dropdown {
            opacity: 0;
          }

          .remove-item {
            opacity: 0;
            margin-top: 1.1px;
            .material-icons {
              font-size: 18px;
            }
          }
        }

        .board:hover,
        .card:hover {
          .add-button,
          .remove-item,
          .board-settings-dropdown {
            opacity: 1;
          }
        }

        .card {
          padding-left: 20px;
          .main-card {
            width: 100%;
            border-radius: 6px;
            padding: 0 5px 0 0;
            max-width: 250px;
          }
          .active {
            background: #ffffff;
            color: #000000;
            font-weight: 600;
            i {
              color: #000000 !important;
            }
          }
          p {
            margin: auto 5px;
            overflow: hidden;
            hyphens: auto;
            text-overflow: ellipsis;
            word-break: break-all;
            max-width: 180px;
            white-space: nowrap;
          }
        }

        &.root-card {
          & > .task-board-card-list {
            padding: 0;

            & > .item-container > .task-view_drag-card > .task-view_drag-card {
              & > .card {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }

    .notes-list:hover .remove-item {
      opacity: 1;
    }
    .notes-view_child-container {
      padding-left: 20px;
    }
  }
  .notes-preview {
    border-radius: 12px;
    border: solid 1px #ececec;
    flex-grow: 1;
    min-width: 30rem;
    background: #ffffff;
  }
}

.search-form {
  flex-grow: 1;
  .search-container {
    margin-top: 5px;
    padding: 5px 13px;
    padding-bottom: 3px;
    border-radius: 24px;
    width: calc(100% - 10px);
    background: #ffffff;
    display: flex;
    input[type='text'] {
      border: none;
      outline: 0;
      color: #000;
    }
    .material-icons {
      font-size: 18px;
    }
  }
}

.icon-cursor-pointer {
  cursor: pointer;
}
.icon-cursor-pointer:hover {
  color: #246e95;
}

.knowledge-base-container {
  .notes-list-container {
    background: #ffffff;
    border: solid 1px #eeeeee;

    .search-container {
      border: solid 1px #e0e0e0;
    }
  }
}
